/*Large desktop and laptops*/
@media screen and (max-width: 1200px){
    svg{
      max-width:58%;
      max-height: inherit;
    }

    #my_img{
        height:auto;
    }

    .modal-body li{
        font-size: 1.1em;
    }


}

/************special start ***************/

@media screen and (max-width: 1680px) {

    body{
        font-size: 1.1em;
    }

   /* .modal-dialog{
        min-height: 100vh;
    }
*/
    .modal-content{
        max-height: 95vh;
    }

    .modal-body{
        max-height: 21vh;
        overflow: auto;
        position: relative;
    }
    /*.modal-body h2{
        color: yellow;
    }*/

    .btn-bottom h3{
      font-size: 2em;
      margin: 10px;
    }

    .btn-bottom{
      padding: 0px;
      width: 45%;
      height: 25%;
     }

     .btn-mid {
        padding: 0px;
        width: 60%;
        height: 35%;
    }

    .btn-mid h3{
      font-size: 2em;
      margin: 10px;
    }

    .btn-top{
        padding: 10px;
        width: 45%;
        height: 25%;
     }

     .btn-top h3{
      font-size: 2em;
      height: 38%;
      /*vertical-align: middle;*/
    }

    .btn-top p{
      font-size: 1.5em;
      margin-bottom: 5px;
    }

    .modal-footer h4{
        margin-top: 4px;
    }
    
}



@media screen and (max-width: 1600px) {
    body{
        font-size: 1.1em;
    }

    .modal-content{
        height: 95vh;
    }

}

/*@media screen and (min-width: 1527px) and (min-width: 1500px){

    body{
        font-size: 1.1em;
    }

    .modal-dialog{
        height: 100%;
    }
    .modal-body{
        /*height: 35%;*/
    }
    /*.modal-body h2{
        color: yellow;
    }*/
/*}*/

@media screen and (min-width: 1340px){

    body{
        font-size: 1.1em;
    }

    .modal-dialog{
        height: 100vh;
    }
    .modal-body{
        /*height: 35%;*/
    }
   /* .modal-body{
        max-height: 40vh;
        min-height: 40vh;
    }*/
    /*.modal-body h2{
        color: blue;
    }*/

    .modal-body li{
        font-size: 1.25em;
    }
}

@media screen and (max-width: 1280px){

    h1{
        font-size: 50px;
    }

    .modal-body {
      max-height: 20vh;
      overflow: auto;
      position: relative;
    }

    .modal-content{
        max-height: 95vh;
    }

    .btn-bottom h3{
      font-size: 1.5em;
      margin: 10px;
    }

    .btn-bottom{
      padding: 0px;
      width: 45%;
      height: 20%;
     }

    .btn-top{
        padding: 10px;
        width: 45%;
        height: 20%;
     }

     .btn-top h3{
      font-size: 1.25em;
      height: 68%;
    }

    .btn-top p{
      font-size: 1em;
      margin-bottom: 5px;
    }

    .btn-mid h3{
      font-weight: 700;
      font-size: 1.5em;
     
    }

    .btn-mid {
        height: 30%;
    }

    .edu-head3 h1{
        margin-bottom: 50px;
    }





}
/*@media screen and (min-width: 1527px) and (min-width: 1500px){
@-moz-document url-prefix(){
    body{
        font-size: 1.1em;
    }

    .modal-dialog{
        height: 100%;
    }
    .modal-body{
        height: 35%;
    }
    .modal-body h2{
        color: yellow;
    }
}}*/

/*@media screen and (min-width: 992px) and (max-width: 1199px){
    body{
        font-size: .75em;
    }
}*/
/************special end ***************/

/*Landscape tablets and medium desktops WORKING ONE, TEMPERORY BLOCK*/
/*@media screen and (min-width: 992px) and (max-width: 1199px){
   .welcome-note>h3{
      font-size: 40px;
    }

    .welcome-note>h3>span{
      font-size: 40px;
    }

    .welcome-note{
      position: absolute;
      top: 50%;
      left: 60%;
      transform:translate(-20%, -40%);
    }

    .material-icons{
        font-size: 100px;
    }

    .list-group-item>h3{
        font-size: 23px;
    }

     svg{
      max-width:100%;
      max-height: inherit;
    }

     #my_img{
        height: 325px;
    }
    .div-style{
        min-height:30vh;
        max-height: 30vh;
    }
    .img-style{
        max-height: 30vh;
        min-height:30vh;
    }

    .btn-bottom h3{
      font-size: 1.5em;
      margin: 10px;
    }

    .btn-bottom{
      padding: 0px;
      width: 40%;
      height: 30%;
     }

    .btn-top{
        padding: 10px;
        width: 40%;
        height: 35%;
     }

     .btn-top h3{
      font-size: 1.5em;
    }

    .btn-top p{
      font-size: 1em;
    }

    .navbar-nav>li{
      padding: 10px;
    }

    .nav a{
      font-size: 2.5em !important;
    }

    .modal-body p{
      height: 15vh;
    }

    .modal-body li{
        font-size: 1.1em;
    }

    .contact{
        min-height: 100vh;
    }

}*/

@media screen and (max-width: 1024px){
    /*.modal-body {
      max-height: 20vh;
      overflow: auto;
      position: relative;
    }*/

    .xxx .box .details h3{
        font-size: 18px;
    }

     .btn-mid h3{
      font-weight: 700;
      font-size: 2.5em;
     
    }

    .btn-mid {
        height: 30%;
    }

    .edu-head3 h1{
        margin-bottom: 50px;
    }

    .mid-div{
        top: 70%;
    }

    .mid-div p{
        font-size: 2.5em;
    }

    .modal-body{
        /*max-height: 100vh;*/
        min-height: 25vh;
        overflow: auto;
    }

    .img-style-project {
        max-width: 100%;
        min-width: 100%;
        max-height: 55vh;
        min-height: 55vh;
        overflow: hidden;
    }

    .modal-content{
        max-height: 100vh;
        /*overflow: auto;*/
    }

    .btn-bottom h3{
      font-size: 1.5em;
      margin: 10px;
    }

    .btn-bottom{
      padding: 0px;
      width: 45%;
      height: 20%;
     }

    .btn-top{
        padding: 10px;
        width: 45%;
        height: 20%;
     }

     .btn-top h3{
      font-size: 1.5em;
      margin-bottom: 10px;
    }

    .btn-top p{
      font-size: 1em;
    }

}

/*ipad pro 10.5 inch*/
@media screen and (min-width: 834px) and (max-width: 900px){
     .modal-body h2{
        font-size: 22px;
        margin-top: 2px;
    }

    .modal-body h4{
        font-size: 18px;
        margin-top: 2px;
    }

    .modal-body li{
        font-size: 0.9em;
    }
}


/*Portrait tablets and small desktops ipad, ipad mini */
@media screen and (min-width: 768px) and (max-width: 991px){

   /* h1{
        font-size: 4em;
    }

    .welcome-note>h3{
      font-size: 40px;
    }

    .welcome-note>h3>span{
      font-size: 40px;
    }

    .welcome-note{
      position: absolute;
      top: 50%;
      left: 50%;
      transform:translate(-10%, -40%);
    }

    .about-1-head{
        height: 100%;
    }
    .about-1-icons{
      height:500px;
    }

    .about-1-icons{
        height: 435px;
    }

     .material-icons{
        font-size: 60px;
    }

    .list-group-item>h3{
        font-size: 15px;
    }

    #my_img{
        height: 325px;
    }

    .div-style{
        min-height:30vh;
        max-height: 30vh;
    }
     .img-style{
        max-height: 30vh;
        min-height:30vh;
    }

    .btn-bottom h3{
      font-size: 1.5em;
      margin: 10px;
    }

    .btn-bottom{
      padding: 0px;
      width: 45%;
      height: 20%;
     }

    .btn-top{
        padding: 10px;
        width: 45%;
        height: 20%;
     }

     .btn-top h3{
      font-size: 1.5em;
    }

    .btn-top p{
      font-size: 1em;
    }

    .navbar-nav>li{
      padding: 0px;
    }

    .nav a{
      font-size: 2em !important;
    }

    .modal-body {
      max-height: 20vh;
      overflow: auto;
      position: relative;
    }

    .modal-content{
        max-height: 90vh;
    }

    .modal-body li{
        font-size: 0.8em;
    }

   /* .img-style-project{
      max-height: 35vh;
      min-height: 35vh;
      overflow: hidden;
    }*/

    /*.modal-footer {
        height: 6vh;
    }

    .modal-header{
        padding: 5px;
    }


    .modal-body h2{
        font-size: 20px;
        margin-top: 2px;
    }

    .modal-body h4{
        font-size: 16px;
        margin-top: 2px;
    }*/*/
    /*.modal-body li{
        font-size: 0.5em;
    }*/

}


/*Landscape phones and Portrait tablets*/
@media screen and (max-width: 768px){
    
    .container-fluid>.navbar-collapse{
        margin: 0;
    }

    .navbar-nav>li {
     padding: 10px 35px 10px 20px;
    }

    .btn-mid h3{
      font-weight: 700;
      font-size: 2em;
     
    }

    .btn-mid {
        height: 30%;
    }

    .edu-head3 h1{
        font-size: 35px;
    }

    .mid-div{
        top: 70%;
    }

    .mid-div p{
        font-size: 1.75em;


    .navbar-nav>li{
         padding: 5px 10px 5px 10px;
    }

    .welcome-note>h3{
      font-size: 25px;
    }

    .welcome-note>h3>span{
      font-size: 25px;
    }

    .welcome-note{
      position: absolute;
      top: 50%;
      left: 50%;
      transform:translate(-50%, -50%);
    }

    /*.about-1-icons{
      height:645px;
    }*/

    .div-style{
        min-height:25vh;
    }

    .modal-body li{
        font-size: 1.1em;
    }

     
    /*.modal-dialog{
        min-width: 95%;
    }

    .modal-content{
        max-height: 95vh;
    }

    .modal-body{
        max-height: 21vh;
        overflow: auto;
        position: relative;
    }*/

     /*.modal-body h2{
        font-size: 10px;
        margin-top: 2px;
    }*/

    /*.modal-body h4{
        font-size: 10px;
        margin-top: 2px;
    }*/

    body{
        font-size: px;
    }

    .modal-header{
        padding: 5px;
    }

    h1{
        /*color: green;*/
        font-weight: 900;
        font-size: 50px;
    }

    h2{
        font-weight: 500;
        font-size: 25px;
    }

    h4{
        font-weight: 700;
        font-size: 20px;
    }

    .modal-body{
        /*max-height: 100vh;*/
        min-height: 25vh;
        overflow: auto;
    }

    .img-style-project {
        max-width: 100%;
        min-width: 100%;
        max-height: 55vh;
        min-height: 55vh;
        overflow: hidden;
    }

    .btn-primary{
        width: 30%;
    }

}


@media screen and (max-width: 480px){
    .container-fluid{
       /*padding: 0px 10px 0px 10px;*/
    }

    .navbar-nav{
        margin: 0px;
    } 

    .navbar-collapse{
        padding: 0px 10px 0px 10px;
    }

    .welcome-note>h3{
      font-size: 18px;
    }

    .welcome-note>h3>span{
      font-size: 18px;
    }

    .welcome-note{
        width: 60%;
    }

    .div-style{
        min-height:25vh;
    }

    .modal-body li{
        font-size: 0.5em;
    }


}

/*@media screen and (min-width: 375px) and (max-width: 479px){

    .modal-body li{
        font-size: 0.5em;
    }

    body{
        font-size: 12px;
    }
*/
    /*.img-style-project {
        max-height: 30vh;
        min-height: 30vh;*/
        /*overflow: hidden;*/
    /*}*/

   /* .modal-body {
        min-height: 40vh;
        max-height: 40vh;
    }*/
/*}*/

/*iphone 6/7/8 plus*/
@media screen and (max-width: 414px){

    .welcome-note {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

     h1{
        font-size: 2em;
    }

    h2{
        font-size: 1em;
    }

    h4{
        font-size: 0.6em;
    }

    .about-1-head{
        height: inherit;
    }

    /*---------About Icons start ------------*/
    .material-icons{
        font-size: 6em;
        color: #E31B6D;
    }

    .list-group-item>h3{
        font-size: 20px;
    }

    .list-group-item{
        padding: 0;
    }

    .list-group-item-text{
        font-size: 7pt;
        line-height: 9pt;
    }

    .about-1-icons{
        height: 100%
    }

    /*---------About Icons end ------------*/

    /*------progress bar start-------*/
    .table-responsive{
        /*height: 50%;*/
    }

    #progress-bar-section{
        padding: 0;
    }

    .table>tbody>tr>td{
        font-size: 1em;

    }

    /*--------end--------------------*/

    /*----------Project sec start---------*/
    .project-nav li a{
        padding: 3px 3px;
        font-size: 1em;
        font-weight: 500;
    }

    .django-section,.flask-section, .python-section{
        margin-top: 15px;
    }

    .btn-top, .btn-bottom{
        width: 65%;
        height: 28%;
    }

    .btn-top p{
        font-size: 1em;
    }
    
    /*------------project sec ends----------*/

    /*----------edu sec start---------*/

    .edu-section>.list-group-item>.list-group>h2{
        margin-bottom: 5px !important;
        font-size: 13px;
    }

   /* .edu-section>.list-group-item>.list-group>h2{
        margin-bottom: 5px !important;
    }*/

    .major-name{
        margin-bottom: 10px !important;
    }

    .uni-name{
        margin-bottom: 2px !important;
    }

    .edu-head2{
        font-size: 12px;
    }

    .edu-section {
        margin-top: 15px;
    }
    
    
    /*----------edu sec end---------*/

    /*----------contact section start-----------*/

    .contact{
        /*min-height: 85vh;*/
    }

    .xxx .box .icon .fa {
        font-size: 2em;
        line-height: 60px;
        /* color: #0ff; */
        color: white;
    }

   .xxx .box .details h3 {
        /*margin: 0;
        padding: 0;*/
        line-height: 70px;
        font-size: 13px;
        /*color: #fff;*/
    }

    .contact-head{
        margin-bottom:15px;
    }

    .contact-2 {
        max-height: 100%;
        min-height: 100%;
        /* min-height: 100vh; */
        max-width: 100%;
        min-width: 100%;
        padding: 0px 5px 0px 5px;
        /* position: relative; */
    }

    .form-area {
        background-color: #FAFAFA;
        padding: 0px 0px 15px;
        margin: 10px 0px 20px;
        border: 1px solid GREY;
    }

    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited{
        width: 30%;
        font-size: 14px;
    }
    /*----------contact section ends---------*/
    .img-style{
        max-height: 28vh;
        min-height: 22vh;
    }

    .div-style{
        max-height: 35vh;
        min-height: 22vh;
    }

    .img-style-project {
        max-height: 55vh;
        min-height: 55vh;
        overflow: hidden;
    }

    .modal-body {
        min-height: 20vh;
        max-height: 20vh;
        overflow: auto;
    }

    .modal-dialog {
        width: 95%;
    }

    .modal-body, .modal-p>ul{
        padding: 10px;
    }

    .modal-body>ul>li{
        font-size: 0.75em;
    }

    .modal-p>ul>li{
        font-size: 0.75em;
    }

    .modal-body h4{
        font-size: 1em;
    }

    .modal-body h2{
        font-size: 1.5em;
    }

    .btn-top h3,
    .btn-bottom h3{
        font-size: 12px;
        width: 100%;
        vertical-align: middle;
    }

    .modal-footer h4{
        margin-top: 0px;
        font-size: 1em;
    }

    /*-------------pdf start---------*/
    .btn-mid h3{
      font-weight: 700;
      font-size: 0.8em;
     
    }

    .btn-mid {
        height: 40%;
    }

    .edu-head3 h1{
        font-size: 16px;
        margin-bottom: 10px;
    }

    .mid-div{
        top: 70%;
    }

    .mid-div p{
        font-size: 0.75em;
    /*-------------pdf ends-----------*/

    
}

@media screen and (max-width: 375px){

    /*---------About Icons start ------------*/
    .material-icons{
        font-size: 4em;
        color: #E31B6D;
    }

    .list-group-item>h3{
        font-size: 15px;
    }

    .list-group-item{
        padding: 0;
    }

    .list-group-item-text{
        font-size: 7pt;
        line-height: 8pt;
    }

    .about-1-icons{
        height: 100%
    }

    h1{
        font-size: 2em;
    }

    h2{
        font-size: 1em;
    }

    h4{
        font-size: 0.6em;
    }



    .edu-section{
        margin-top: 20px;
    }

    /*---------About Icons end ------------*/

    .btn-top, .btn-bottom{
        width: 70%;
        height: 25%;
    }

    .btn-top p {
        font-size: 0.75em;
    }

    .btn-top h3, .btn-bottom h3{
        font-size: 0.75em;
    }

    /*----------contact section start-----------*/

    .xxx .box .icon .fa {
        font-size: 1.75em;
        line-height: 45px;
 
    }

    .xxx .box .details h3 {
        /*margin: 0;
        padding: 0;*/
        line-height: 48px;
        font-size: 11px;
        /*color: #fff;*/
    }

    /*----------contact section ends---------*/
}
